
<!-- NAV -->
<mat-toolbar color="secondary" class="nav-bar">
    <a mat-button routerLink="/removable-element-list" routerLinkActive="active-link">Lista de Elementos removibles</a>
    <a mat-button routerLink="/data-list" routerLinkActive="active-link">Agregar Datos</a>
    <a mat-button routerLink="/form-validation" routerLinkActive="active-link">Contador de caracteres</a>
    <a mat-button routerLink="/user-table" routerLinkActive="active-link">Tabla de usuarios</a>
    <a mat-button routerLink="/chart" routerLinkActive="active-link">Gráficos</a>
</mat-toolbar>

<!-- CONTENT -->
<div class="content">
    <router-outlet></router-outlet>
</div>
